<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="qsirepo" value="https://devops.quadrant-si.id/nexus/repository/nuget-hosted/" />
    <add key="qsirepodev" value="https://devops.quadrant-si.id/nexus/repository/nuget-dev-hosted/" />
  </packageSources>
  <packageSourceCredentials>
    <qsirepo>
      <add key="Username" value="%QSI_REPO_USERNAME%" />
      <add key="ClearTextPassword" value="%QSI_REPO_PASSWORD%" />
    </qsirepo>
    <qsirepodev>
      <add key="Username" value="%QSI_REPO_USERNAME%" />
      <add key="ClearTextPassword" value="%QSI_REPO_PASSWORD%" />
    </qsirepodev>
  </packageSourceCredentials>
</configuration>